@use 'base';

@media (min-width: 200px) {
	.PopUp{
		width: 80%;
		height: 70vh;
		position:absolute;
		left: 8%;
		top: 15%;
		background-color: base.$primary-color;
		padding: 8px;
		border-radius: 15px;
		margin: auto;
		overflow: scroll;
	}

	input{
		height: 20px;
		margin-top: 4px;
		margin-bottom:16px;
		background-color: base.$bg-color;
	}
	input[type="range"]{
		width: 100%;

		margin-bottom: 8px;
	}

	.sliderLabels{
		display: flex;
		place-content: space-between;
		padding-left: 6px;
		padding-right: 6px;
	}



}
@media (min-width: 30em) {
	.PopUp{
		max-width: 50%;
		min-width: 30%;
		left: 30%;
		top: 20%;
	}
}