@use 'base';

@media (min-width: 200px) {
	.PopUp{
		color: base.$primary-color;
		width: 80%;
		//height: 70vh;
		position:absolute;
		left: 8%;
		top: 15%;
		background-color: base.$light-color;
		background-color: #CDDDE5;
		padding: 8px;
		border-radius: 15px;
		margin: auto;
		overflow: scroll;
		z-index: 5;
		-webkit-box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.5); 
		box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.5);
			
		//box-shadow:  10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		//box-shadow: 10px 10px;
	}

	input{
		height: 20px;
		margin-top: 4px;
		margin-bottom:16px;
		background-color: base.$bg-color;
	}
	input[type="range"]{
		width: 100%;

		margin-bottom: 8px;
	}

	.sliderLabels{
		display: flex;
		place-content: space-between;
		padding-left: 6px;
		padding-right: 6px;
	}



}
@media (min-width: 30em) {
	.PopUp{
		max-width: 50%;
		min-width: 30%;
		left: 30%;
		top: 20%;
	}
}