.GradientBG {
  background: radial-gradient(circle, rgb(245, 161, 245) 2%, rgb(36, 14, 46) 100%);
}

.Overlay {
  background-color: black;
  opacity: 100%;
}

/* #root{
	height: 100vh;
} */
body {
  /* display: grid;
  grid-template-columns: 1fr; */
  font-family: Arial, sans-serif;
  /*grid-template-columns:
      2  1fr
     /* 1 * auto
     /* 2 * 1fr;
   	grid-template-rows:
     /* 3 * auto
     /* 4 * 1fr
     /* 5 * auto;*/
  background-color: #909090;
}

h1 {
  font-size: 40px;
  color: white;
}

h2 {
  font-size: 32px;
  color: white;
}

h3 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 8px;
  color: white;
}

h4 {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: white;
}

p {
  font-size: 12px;
}

a {
  color: #202020;
  margin-right: 5px;
}

.DefaultBtn {
  grid-column: auto/span 1;
  padding: 5px;
  height: 48px;
  min-width: 48px;
  width: 100%;
  font-size: 12px;
  margin: 5px;
  border-radius: 5px;
  border: 1.5px solid #202020;
  background-color: rgba(255, 255, 255, 0.03);
}

.DefaultBtn:active {
  color: #202020;
  border: 1.5px solid #202020;
  background-color: #606060;
}

.DefaultBtn:hover {
  color: #202020;
  border: 1.5px solid #202020;
  background-color: #606060;
}

.ClosePopupBtn {
  grid-column: auto/span 1;
  padding: 5px;
  height: 32px;
  min-width: 32px;
  font-size: 12px;
  margin: 5px;
  border-radius: 5px;
  border: 1.5px solid #202020;
  background-color: rgba(255, 255, 255, 0.03);
}

@media (min-width: 200px) {
  .PopUp {
    width: 80%;
    position: absolute;
    left: 8%;
    top: 15%;
    background-color: #606060;
    padding: 8px;
    border-radius: 15px;
    margin: auto;
    overflow: scroll;
  }
  input {
    height: 20px;
    margin-top: 4px;
    margin-bottom: 16px;
    background-color: #909090;
  }
  input[type=range] {
    width: 100%;
    margin-bottom: 8px;
  }
  .sliderLabels {
    display: flex;
    place-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (min-width: 30em) {
  .PopUp {
    max-width: 50%;
    min-width: 30%;
    left: 30%;
    top: 20%;
  }
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

.headerPopup {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  align-items: flex-start;
}

.Row_10 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-basis: 100%;
}

.Box_10 {
  flex-basis: 100%;
}

.Box_9 {
  flex-basis: 90%;
}

.Box_8 {
  flex-basis: 80%;
}

.Box_6 {
  flex-basis: 60%;
}

.Box_4 {
  flex-basis: 40%;
}

.Box_3 {
  flex-basis: 30%;
}

.Box_2 {
  flex-basis: 2%;
}

.Box_1 {
  flex-basis: 9%;
  flex-shrink: 1;
}

.grid-sixth {
  grid-column: auto/span 1;
}

.grid-third {
  grid-column: auto/span 2;
}

.grid-two-thirds {
  grid-column: auto/span 4;
}

.grid-half {
  grid-column: auto/span 3;
}

@media (min-width: 200px) {
  /* The grid system goes here... */
  .grid {
    height: 100vh;
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-column-gap: 0.75px;
    grid-row-gap: 0.45px;
  }
  .grid-center {
    align-self: center;
    grid-area: 2/1/3/2;
  }
  .grid-bottom-center {
    grid-area: 3/1/4/2;
    place-self: center;
  }
  .grid-top-center {
    display: flex;
    flex-direction: row-reverse;
    place-content: space-between;
    grid-area: 1/1/2/2;
  }
}
@media (min-width: 30em) {
  .grid {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-column-gap: 0.75px;
    grid-row-gap: 0.45px;
  }
  .grid-top-right {
    grid-area: 1/3/2/4;
    text-align: right;
  }
  .grid-center {
    grid-area: 2/2/3/3;
    align-self: center;
  }
  .grid-bottom-center {
    grid-area: 3/2/4/3;
    place-self: center;
  }
  .grid-top-left {
    grid-area: 1/1/2/2;
  }
}/*# sourceMappingURL=style.css.map */